.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
  margin: 20px;
}
.login_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
