.account_skeleton {
  width: 300px !important;
  height: 40px;
  margin: 25px 0px;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-select-single
  .ant-select-selector
  .ant-select-selection-item {
  text-align: left;
}
