.pdp-container {
  display: flex;
  width: 70vw;
  min-height: 70vh;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}
.pdp-image-container {
  margin-right: 20px;
  min-width: 300px;
  width: 25vw;
  height: 350px;
  border: 1px solid #e5e5e5;
}
.pdp-content-container {
  min-width: 350px;
  width: 40vw !important;
  height: 350px;
  text-align: left;
}
.pdp-price-container {
  display: flex;
  width: 300px;
  align-items: flex-end;
  margin-top: 20px;
}
.pdp-button-container {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}
