.trackers-container {
  display: flex;
  width: 98vw;
  min-height: 88vh;
  justify-content: center;
  flex-wrap: wrap;
}
.ant-card-cover {
  display: flex;
  justify-content: center;
}
.tracker-close-button {
  font-size: 18px !important;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
.price_dropped {
  -webkit-animation: mover 0.7s infinite alternate;
  animation: mover 0.7s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.sort_by_container {
  position: absolute;
  right: 3%;
  margin-top: -20px;
}
.sort_by_container .ant-select-selector .ant-select-selection-item {
  text-align: right;
}
.sort_by_label {
  width: 50px;
  position: absolute;
  right: 68%;
  top: 15%;
  z-index: 1;
}
.ant-drawer-body {
  padding: 0 !important;
}
.sider_container {
  width: 140px !important;
  flex: 0 0 140px !important;
  max-width: 140px !important;
  min-width: 140px !important;
  height: fit-content !important;
}
.tracker_top_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 10px;
}
