.trackers-container {
  display: flex;
  width: 98vw;
  min-height: 88vh;
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ant-card-cover {
  display: flex;
  justify-content: center;
}
.tracker-close-button {
  font-size: 18px !important;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
