.ant-segmented-item-selected {
  color: #1890ff;
  font-weight: bolder;
}
.account_body {
  display: flex;
  justify-content: center;
}
.account_image_div {
  text-align: center;
  margin-top: 20px;
}
.account_component {
  margin-top: 5px;
}
