.home-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 99vw;
  overflow: hidden;
}
.search-component {
  width: 70vw !important;
}
.timeline-container {
  min-height: 300px;
  margin-top: 50px;
  margin-left: -60px;
}
.ant-timeline-item {
  height: 40px !important;
}
.timeline-text {
  font-weight: bolder !important;
}
.paste-wrap {
  background: linear-gradient(
      54.09deg,
      #7f4574 2.03%,
      #ef85d1 48.63%,
      #e04cb6 96.22%
    ),
    linear-gradient(0deg, rgba(201, 46, 255, 0.15), rgba(201, 46, 255, 0.15));
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  width: 80px !important;
  text-align: center;
}
.ant-input-search-button {
  background-color: #7f4574 !important;
  color: white;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: #ef85d1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.scene {
  width: 200px;
  height: 150px;
  perspective: 1000px;
  position: relative;
}
.scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
}
.carousel__cell {
  position: absolute;
  width: 180px;
  left: 10px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.ant-alert-info {
  background-color: #e783cb;
  
  border-color: #e78cd7;
}
.ant-alert-message {
  color: white;
  font-weight: bolder;
}
