.home-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 99vw;
  overflow: hidden;
}
.search-component {
  width: 70vw !important;
}
.timeline-container {
  min-height: 300px;
  margin-top: 50px;
  margin-left: -60px;
}
.ant-timeline-item {
  height: 40px !important;
}
.timeline-text {
  font-weight: bolder !important;
}
.paste-wrap {
  background: linear-gradient(
      54.09deg,
      #7f4574 2.03%,
      #ef85d1 48.63%,
      #e04cb6 96.22%
    ),
    linear-gradient(0deg, rgba(201, 46, 255, 0.15), rgba(201, 46, 255, 0.15));
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  width: 80px !important;
  text-align: center;
}
.ant-input-search-button {
  background-color: #7f4574 !important;
  color: white;
}